/* ===== CONTACT HERO ===== */
.contact-hero {
    width: 100%;
    height: 100px;
    padding: 18px;
    background: url("../component/image/hero3.jpg") center/cover no-repeat;
    text-align: center;
    justify-items: center;
}

/* ===== CONTACT SECTION ===== */
.contact-section {
    padding: 60px 20px;
}

.contact-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    gap: 40px;
}

.contact-info,
.contact-form {
    flex: 1;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 15px;
}

.contact-info h3,
.contact-form h3 {
    margin-bottom: 15px;
}

/* ===== FORM ===== */
.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.contact-form button {
    padding: 12px;
    background: #ff5733;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* ===== ACTIVE LINK ===== */
.nav-links .active {
    color: #ff5733;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}


/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    padding-top: 70px;
    color: #333;
}

/* ===== NAVBAR ===== */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.nav-links a:hover{
    color: #e87257;
  
}
.send-msg{
    color: white;
    text-decoration: none;
}